@*Simple redirection page when report submitted*@
@page
@model CIDM_3312___Final_Project.Pages.Reports.ReportModel
@{
    ViewData["Title"] = "Successful Report";
}
<br/>
<h1>Thank you for report!</h1>