@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br/>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">If you find yourself in immediate danger of a wildfire, contact emergency services at 911 or call this number for immediate assistance (052 234-5674).</p>
</div>

<h2>Welcome to FireWatch!</h2>
@*Simple webpage implemented to explore bootstrap*@
<p> FireWatch is a community system that allows you to track wildfire advisories in your area and report any events or activities that may lead to wildfires. If you have noticed anything that may lead to a wildfire, please submit a report or call (245) 345-6578 to contact a member of the wildfire dispatch team.</p>


