@page
@model CIDM_3312___Final_Project.Pages.WildfireAdvisories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WildfireAdvisory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WildfireAdvisory.WildfireAdvisoryId" />
            <div class="form-group">
                <label asp-for="WildfireAdvisory.Title" class="control-label"></label>
                <input asp-for="WildfireAdvisory.Title" class="form-control" />
                <span asp-validation-for="WildfireAdvisory.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WildfireAdvisory.IssueDateAndTime" class="control-label"></label>
                <input asp-for="WildfireAdvisory.IssueDateAndTime" class="form-control" />
                <span asp-validation-for="WildfireAdvisory.IssueDateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WildfireAdvisory.Description" class="control-label"></label>
                <input asp-for="WildfireAdvisory.Description" class="form-control" />
                <span asp-validation-for="WildfireAdvisory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WildfireAdvisory.IssuingAuthority" class="control-label"></label>
                <input asp-for="WildfireAdvisory.IssuingAuthority" class="form-control" />
                <span asp-validation-for="WildfireAdvisory.IssuingAuthority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WildfireAdvisory.ContactPhoneNumber" class="control-label"></label>
                <input asp-for="WildfireAdvisory.ContactPhoneNumber" class="form-control" />
                <span asp-validation-for="WildfireAdvisory.ContactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
